<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <h2>
        <span><%= link_to "followings フォローしている", followings_user_path(@user) %>(<%= @user.following_users.count %>)</span>
        <span><%= link_to "followers フォローされている", followers_user_path(@user) %>(<%= @user.follower_users.count %>)</span>
      </h2>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.follower_users.any? %>
      <h3>followers フォローされている人の一覧 (<%= @user.follower_users.count %>)</h3>
      <ol class="microposts">
        <%= render @followers_array %>
      </ol>
    <% end %>
  </div>
</div>